@{ ViewBag.Title = "Home Page"; }

<div class="container">
    <div class="row">

        <!-- Image section -->
        <div class="row mb-5">
            <div class="col-md-6 offset-md-3 text-center">
                <img src="https://images.unsplash.com/photo-1585066437529-9f6a2061652b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGlicmFyeSUyMGNvbXB1dGVyfGVufDB8fDB8fHww&w=1000&q=80" alt="Book Management System" class="img-fluid">
            </div>
        </div>

        <br />

        <div class="col-md-4">
            <h1>Books</h1>
            <p>Effortlessly organize and track your book collection with our Book Management System. Add new books, update details, and keep an eye on availability and lending status. Find the books you need quickly with our advanced search and filtering capabilities. Enhance your book management process and enjoy hassle-free book handling.</p>
        </div>
        <div class="col-md-4">
            <h2>Authors</h2>
            <p>Discover the brilliant minds behind your favorite books using our Author Management feature. Maintain an extensive database of authors, including their biographical information, bibliography, and associated books. Easily explore the works of specific authors and gain insights into their writing careers. Enrich your reading experience and delve into the world of talented authors.</p>
        </div>
        <div class="col-md-4">
            <h2>About</h2>

            <p>The Book Management System is a comprehensive tool for organizing and managing your book collection. Whether you are a book enthusiast, librarian, or run a bookstore, this system offers a range of features to streamline your book management tasks.</p>
            <p>With the Book Management System, you can easily add new books to your collection, update their details such as title, author, genre, and publication date. You can also track book availability, lending status, and borrower information if you have a lending library. The system allows you to search and filter books based on various criteria, making it simple to find specific books within your collection.</p>
            <p>Additionally, the system provides author management capabilities, allowing you to maintain a database of authors with their biographical information, bibliography, and any associated books. This makes it convenient to explore books by specific authors and view their published works.</p>
            <p>Experience the convenience and efficiency of the Book Management System today and take control of your book collection!</p>
        </div>
    </div>


</div>

<footer class="bg-dark text-white text-center py-4">
    <p>Book Management System &copy; 2023. All rights reserved.</p>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>